.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--collection-1-white);
  border-radius: 14px;
}

.month {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--collection-1-purple);
  color: var(--collection-1-white);
  border-radius: 14px 14px 0px 0px;
  position: relative;
  top: 0;
  width: 70px;
  height: 26px;
}

.month-date {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--collection-1-purple);
  background-color: var(--collection-1-white);
  font-family: var(--date-font-family);
  font-size: var(--date-font-size);
  font-style: var(--date-font-style);
  font-weight: var(--date-font-weight);
  height: 44px;
}
