.text-input-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  height: 44px;
  width: 100%;
}

.overlap-group {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--collection-1-white);
  border: 1px solid;
  border-color: var(--collection-1-main);
  border-radius: 1rem;
  height: 44px;
  position: relative;
  width: 100%;
}

.overlap-group:hover {
  border-color: var(--collection-1-secondary);
  cursor: pointer;
}

.overlap-group:focus-within {
  border-color: var(--collection-1-secondary);
}
::placeholder {
  color: rgb(160, 160, 160);
}

.text-input-bar input {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  outline: none;
  color: var(--collection-1-black);
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  line-height: normal;
  width: 90%;
  font-size: 1.06rem;
}

.text-input-bar .icon {
  height: 28px;
  width: 28px;
  margin-left: 0.7rem;
  margin-right: 0.4rem;
}
