.options-component {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.option-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
}

.answer {
  border: 1px solid var(--darkGrey);
  cursor: pointer;
  display: flex;
  width: 100%;
  min-width: 200px;
  border-radius: 0.4rem;
}
.answer-letter {
  border-radius: 0.4rem 0rem 0rem 0.4rem;
  font-size: 20px;
  background-color: var(--collection-1-secondary);
  color: white;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.answer-text {
  margin-left: 1rem;
  font-weight: 500;
  display: flex;
  width: 100% !important;
  align-items: center;
}

.checked {
  background-color: rgb(0, 255, 115);
  color: white;
}

#next-button {
  padding: 10px;
  border: none;
  background-color: purple;
  background-color: #276272;
  color: white;
  border-radius: 5px;
  font-size: larger;
  font-weight: bold;
  transition: 0.2s;
  width: 100px;
  position: absolute;
  bottom: 15px;
}
#next-button:active {
  box-shadow: none;
}
.show-score {
  position: absolute;
  top: 30%;
  font-size: 40px;
  text-align: center;
}
