
.hero-section {
    align-items: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px #00000040;
    display: inline-flex;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(
      180deg,
      rgb(41.97, 40.3, 43.56) 0%,
      rgb(236.94, 93.79, 93.79) 0.01%,
      rgb(92.54, 48.05, 142.38) 99.99%,
      rgba(13.56, 13.29, 13.81, 0) 100%
    );
    padding: 2rem;
    border-radius: 2rem;
}

.top-part {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}


.hero-section .QUIZZES-for-you {
    color: var(--collection-1-tatjva);
    font-family: "Epilogue", Helvetica;
    font-size: 80px;
    font-weight: 800;
    position: relative;
    width: fit-content;
}
  
.hero-section .quiz {
    color: var(--collection-1-secondary);
}

.hero-section .for-you {
    color: white;
}