.profile {
  align-items: center;
  display: inline-flex;
  gap: 31px;
  position: relative;
  z-index: 99;
}

.profile:hover {
  cursor: pointer;
}

.profile .text-wrapper {
  color: var(--collection-1-secondary);
  font-family: "Nunito", Helvetica;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: fit-content;
}
