.profile {
  align-items: center;
  display: inline-flex;
  gap: 0.3rem;
}

.profile:hover {
  cursor: pointer;
}

.profile .text-wrapper {
  color: var(--collection-1-secondary);
  font-family: "Nunito", Helvetica;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.profile-pic {
  position: relative;
  height: 50px;
  width: 50px;
}

.profile-pic .ellipse {
  object-fit: cover;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

/** Mobile **/
@media screen and (max-width: 700px) {
  .profile-pic {
    height: 40px;
    width: 40px;
  }
} 
