:root {
  --box-colour: aqua;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  background-color: var(--box-colour);

  border-radius: 10px;
  height: 400px !important;
  width: 400px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
