.flipcard-container {
  /* height: 20rem;
    width: 30rem; */
  height: fit-content;
  width: fit-content;

  border-radius: 1rem;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0.5rem;
}

.front {
  /* height: fit-content;
  width: fit-content; */
}

.graph {
  height: 392px;
  width: 400px;
  border-radius: 1rem;
  display: flex;
}
