.auth-slider {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .auth-slider .group {
    background-color: var(--collection-1-white);
    border: 2px solid;
    border-color: var(--collection-1-secondary);
    border-radius: 40px;
    height: 57px;
    position: relative;
    width: 352px;
  }
  
  .auth-slider .rectangle {
    background-color: var(--collection-1-secondary);
    border: 2px solid;
    border-color: var(--collection-1-third);
    border-radius: 40px;
    box-shadow: 0px 4px 4px #00000040;
    height: 57px;
    position: relative;
    top: -2px;
    width: 179px;
  }
  
  .auth-slider .text-wrapper {
    color: var(--collection-1-black);
    font-family: var(--auth-font-family);
    font-size: var(--auth-font-size);
    font-style: var(--auth-font-style);
    font-weight: var(--auth-font-weight);
    left: 52px;
    letter-spacing: var(--auth-letter-spacing);
    line-height: var(--auth-line-height);
    position: absolute;
    top: 15px;
    white-space: nowrap;
  }
  
  .auth-slider .div {
    color: var(--collection-1-black);
    font-family: var(--auth-font-family);
    font-size: var(--auth-font-size);
    font-style: var(--auth-font-style);
    font-weight: var(--auth-font-weight);
    left: 226px;
    letter-spacing: var(--auth-letter-spacing);
    line-height: var(--auth-line-height);
    position: absolute;
    top: 15px;
    white-space: nowrap;
  }
  
  .auth-slider .default {
    left: -2px;
    translate: all 2s ease-in-out;
  }
  
  .auth-slider .variant-2 {
    left: 171px;
    translate: all 2s ease-in-out;
  }